<div class="data-field row">
	<div class="text-right col-md-2">
		{{name}} <small class="text-muted">[{{index}}]</small><br/>
		<small class="text-muted">{{type}}</small>
	</div>
	<div v-if="type==='number'" class="col-md-9">
		<input type="number" class="form-control" v-bind:value="value" v-on:change="update" />
	</div>
	<div v-if="type==='boolean'" class="col-md-9">
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" v-bind:checked="value" v-on:change="update" />
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">{{value ? 'true' : 'false'}}</span>

		</label>
	</div>
	<div v-if="type==='string'" class="col-md-9">
		<input type="text" class="form-control" v-bind:value="value" v-on:change="update"/>
	</div>
	<div style="border: none;" class="col-md-1">
		<a href="#remove" v-on:click.prevent="$emit('remove');">删除</a>
	</div>
</div>
