<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="180">节点标识</th>
				<th width="200">连接</th>
				<th>数据</th>
				<th width="180">
					<div class="input-group">
						<span class="input-group-addon">自动刷新</span>
						<input class="form-control" type="number" v-model.number.lazy="reload" min="0" />
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-if="$app.data.length==0" class="table-warning">
				<td colspan="4" class="text-danger">当前命名空间无数据~</td>
			</tr>
			<tr v-for="item in $app.data" v-bind:class="{'table-active': $route.params.key == item.key}">
				<td>{{item.key}}</td>
				<td>{{item.remote_addr}}</td>
				<td><p v-html="format(item)" class="text-truncate"></p></td>
				<td><router-link :to="$route.params.ns + '/edit/'+item.key"><i class="fa fa-pencil"></i> 编辑</router-link></td>
			</tr>
		</tbody>
	</table>
	<router-view></router-view>

</div>
