<div>
	<table class="table">
		<thead><tr><th>命名空间：</th><th class="text-right">
			<a class="btn btn-secondary" href="#/reload" v-on:click.prevent="reload">
				<i class="fa fa-refresh"></i>
				重载
			</a>
		</th></tr></thead>
		<tbody v-if="data.length==0">
			<tr class="table-warning"><td colspan="4" class="text-danger">当前命名空间无数据~</td></tr>
		</tbody>
	</table>

	<ul class="list-group" v-if="data.length>0">
		<router-link class="list-group-item list-group-item-action justify-content-between" v-for="item in data" :to="'/namespace/' + item.name" v-bind:class="{active: $route.params.ns == item.name}">
			{{item.name}}
			<span class="badge badge-default badge-pill">{{item.size}}</span>
		</router-link>
	</ul>
</div>
